body, html {
  padding:0;
  margin: 0;
}
body {
  text-align: center;
}
h1, h2, h3 {
  font-family: 'quicksand';
}
p {
  font-family: 'raleway';
}
/* Block Level Elements */
#header {
  padding-top: 50vh;
  padding-bottom: 37vh;
  background-image: url("image_assets/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
